CCSERIAL = gcc
CCMPI = mpicc -cc=${CCSERIAL}
CFLAGSSERIAL = -O3 -Wall # -ipo -xT -shared-intel -Wall
#CFLAGSSERIAL = -g -Wall

#Edit below to change how the correlate code is built

# Serial
CC_COR = $(CCSERIAL)
CFLAGS_COR = $(CFLAGSSERIAL) -Wno-unknown-pragmas
LOTHER = # Leave blank

# MPI build
#CC_COR = $(CCMPI)
#CFLAGS_COR = $(CFLAGSSERIAL) -Wno-unknown-pragmas
#LOTHER = -io

# OpenMP build
#CC_COR = $(CCSERIAL)
#CFLAGS_COR = $(CFLAGSSERIAL) -openmp
#LOTHER = -openmp

# MPI/OpenMP build
#CC_COR = $(CCMPI)
#CFLAGS_COR = $(CFLAGSSERIAL) -openmp
#LOTHER = -openmp


